$primary-color: hsl(4, 100%, 67%);
$white: hsl(0, 0%, 100%);
$grey: hsl(231, 7%, 60%);
$chocolate-grey: hsl(235, 18%, 26%);
$dark-slate-grey: hsl(234, 29%, 20%);

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Roboto', sans-serif;

$border-radius: 20px;

$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);