@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark-slate-grey;
    font-family: $font-family;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    height: 100vh;
    @include flex(center, center);
    color: $dark-slate-grey;
}